@import "global/index";

$grey-color-cus:#b5CAA0;
$black-color1:#333;
$white-color1:#fff;

$brand-color1:#405B55;
$brand-color2:#2b5f75;
$brand-color3:#3a8FB7;

$bg-normal-color:rgba(0, 0, 0, 0.8);
$bg-hover-color1:rgba(0, 0, 0, 0.6);


html,body{
  min-height:100%;
}
body{
  background-color: $grey-color-cus;
}

.by-container{
  width:1000px;
  margin:auto;
}
.by-content{
  padding:0 16px;
}

.by-container.index{
  .by-content{
    display:flex;
  }
}

//.left-col+.right-col{
//  margin-left:30px;
//}

.left-col{
  min-width:300px;
  min-height:100vh;

  text-align:center;
  background-color: $brand-color1;
  color:$white-color1;
  .left-header{
    margin-top:290px;
  }
  .left-header+.left-bottom{
    margin-top:78px;
  }
  .left-bottom{
    .left-menu+.left-nav{
      margin-top:10px;
    }
    .left-menu{
      &>.left-menu-item{
        height:30px;
        padding:6px 0;
      }
      a{
        color:$black-color1;
      }
    }
    .left-nav{
      display:flex;
      justify-content: space-around;
      a{
        color:$white-color1;
      }
      &>.left-menu-item{
      }
    }
  }
}

.right-col{
  max-width:100%;
  padding:30px;
  .article-index+.article-index{
    margin-top:10px;
  }
  .article-index{
    max-width:100%;
    padding:14px 30px;
    background-color: $brand-color1;
    color:$white-color1;
    a{
      color:$white-color1;
    }
    .article-header+.article-entry,
    .article-entry+.article-info{
      margin-top:30px;
    }
    .article-entry{
      max-width:100%;
      overflow-x:auto;
    }
  }
}

.avatar-wrapper{
  img{
    width:130px;
    height:130px;
    border-radius:100%;
  }
}
